{% extends "myapp\header.html" %}
{% block content %}
<div class="container">
    <table class="table" id="datatablesSimple">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">ID</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in body.items %}
            {% if value.1 == 'up' %}
                <tr class="table-success">
            {% elif value.1 == 'down' %}
                <tr class="table-danger">
            {% endif%}

            <td>{{value.0}}</td>
            <td>{{key}}</td>
            <td>{{ value.1}}</td>
            <td>IP</td>
            <td><form method="post" name="form1">
                {% csrf_token %}
                {% if value.1 == "up" %}
                <button type="submit" class="btn btn-warning" name="down" value={{key}}>
                    Выключить
                </button>
                {%endif%}
                {% if value.1 == "down" %}
                <button type="submit" class="btn btn-success" name="up" value={{key}}>
                    Включить
                </button>
                {%endif%}
                {% if value.1 == "wait_for_launch" or value.1 == "powering_up" or value.1 == "image_locked"%}
                <a href="{{ request.get_full_path }}" class="btn btn-info">Обновить</a>
                {%endif%}

            </td>
            <td>
                <button type="submit" class="btn btn-danger {% if value.1 == "up" %} hidden {%endif%}{% if value.1 == "down" %}{%endif%} " name="delete" value={{key}} >
                 Удалить
                </button>
            </td>
            </form>
            <td>
                <form action="#" method="get">
                    <button type="button" class="mybtn33" href="#">Console</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<br>
<br>
<a class="btn btn-primary" href="{%url 'get_createvm' %}" role="button">Создать ВМ</a>
<a href="{{ request.get_full_path }}" class="btn btn-info">Обновить</a>


{% endblock %}